
/* rfk special */
@mixin rfk-panel($rfk-color) {

  @include callout-base();  
  @include callout-style($rfk-color);

  h4 {
      text-align: center;
      color: $rfk-color;
    }
  h5 {
    font-weight: bold;
  }
  dl dd {
    margin-bottom: 0;
  } 
}

.front-panel {
	 @include rfk-panel(blue);
     border-radius: 10px;
}

.hot-panel {
	@include rfk-panel(#FFA8AF);
	border-radius:  10px;
	}

/// rss-date
/// this is used to format the date in the RSS displays

.rss-date {
	font-size: small;
	font-weight: bold;
	font-style: italic;
	color: red;
}
.widget_rss {
	@include callout(green);
	border-color: green;
	border-radius: 20px;
	h4 {
	  text-align: center;
	}
}

// this is a fix for something
dl dt {
	margin-bottom: 0;
}
//indent DD 20px
dd {
	margin-left: 20px;
}

.banner {

/*   background-color: blue; */
  color: blue;
  background: url("http://stjohnelcerrito.org/wp-content/themes/JointsWP-RFK/assets/images/crucifix.jpg") 50% no-repeat;
  background-size: cover;

  h1 {
    font-family: "Niconne", cursive;
    padding-left: 20px;
    margin-bottom: 0;
    text-shadow: 2px 2px lightslategrey;
  }
  h2, h3, h4, h5 {
  	font-family: "Niconne", cursive;
  	  margin-bottom: 0;
  	  margin-top: 0;
  	  padding-left: 20px;
  	  text-shadow: 1px 1px lightslategrey;
  }
}

.top-bar {
   background-color: blue;
   $topbar-background: blue;
   color: white; 
   
   a {
     color: white; //this changes the menu text
   }
 } 

 #main {
 	margin-top: 10px;
 }

// center picture and text for the picture sliders 
.widget-sb-easy-image {
	h4 {
	text-align: center;
	}
	
	dl {
	text-align: center;
	}
	dd {
	font-weight: bold;
	}
}

// eliminate space between search term b0x and search button
input[type="search"]{
	margin-bottom: 0;
}


.attachment-post-thumbnail {
	float: left;
	padding-right: 1rem;
}

.category-bulletins {
	h4 {
		clear: both;
	}
}

.display_archive {
	font-family: arial, verdana;
	font-size: 1rem;
}

.campaign {
	line-height: 110%;
	margin: 5px;
}

// fix for captions under pictures bring too narrow
.wp-block-image .aligncenter>figcaption, .wp-block-image .alignleft>figcaption, .wp-block-image .alignright>figcaption, .wp-block-image.is-resized>figcaption {
    display: block;
    caption-side: bottom;
}

.wp-block-quote{
	border-top: 2px solid #8a0000;
	border-bottom: 2px solid #8a0000;
	border-left: none;
	position: relative;
	color: red;
	
}

.wp-block-quote:before { 
	display:block;
	content: "\201C";
	font:900 120px/1em serif;
	color:#8a0000;
	float:left;
	position:relative;
	top: -16px;
	
}

blockquote cite {
	color: #8a0000;
}
