.login h1 a{background:url(../images/crucifixlogo.jpg) no-repeat top;width:400px;height:207px;text-indent:-9999px;overflow:hidden;padding-bottom:15px;display:block}
/*# sourceMappingURL=login.css.map */
